<!DOCTYPE html>
<html lang="en">
<head>
    {#  烽火的周报显示界面，之后等周报部门算法完成后编辑  #}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.css">
    <script src='/static/jquery/jquery.js'></script>
    <script src='/static/jquery/highcharts.js'></script>
    <title>周报查询结果</title>
    <style type="text/css">
	</style>
</head>
<body>
                    {% for x in form.data %}
                        <tr id="body" style="position: static;top: 100px;">
                            {% for y in x %}
                                <td><div contenteditable="false">
                                    {{ y }}
                                </div></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
</body>
</html>