<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.css">
    <script src='/static/jquery/jquery.js'></script>
    <script src='/static/jquery/highcharts.js'></script>
    <title>周报查询结果</title>
    <style type="text/css">
        .report{position: relative;top: 10%;left: 20px;width: 1400px;height: 80%;}
	    table{
		    width:auto;
            font-size: 14px;
        }
	    td {
		    width:100px;
		    line-height: 25px;
		    text-align:center;
	    }
	    td:first-child{
            width: 180px;
		    background-color: grey;
	    }

        th {
            width:120px;
		    line-height: 30px;
		    text-align:center;
            background-color: darkgrey;
	    }
	</style>
    <script type="text/javascript">
        var all = [];
        var time = [];
        var hms = [];
        var epg = [];
        var ll = [];
        window.onload = function() {
            {#            获取表格数据，分成几个list方便做图表#}
            var tbl = document.getElementById("table");
            var trs = tbl.getElementsByTagName("tr");

            for (var i = 1; i < trs.length; i++) {
                var _tr = trs[i]
                var tds = _tr.getElementsByTagName('td');
                for (var j = 0; j < 4; j++) {
                    var _td = tds[j];
                    var tdDiv = _td.getElementsByTagName('div');
                    all.push(tdDiv[0].innerHTML)
                }
            }
            for (var i = 0; i < all.length; i++) {
                if (i % 4 == 0) {
                    time.push(all[i])
                }
                if (i % 4 == 1) {
                    hms.push(eval(all[i]))
                }
                if (i % 4 == 2) {
                    epg.push(eval(all[i]))
                }
                if (i % 4 == 3) {
                    ll.push(eval(all[i]))
                }
            }
            {# 单数据为大于5条，会出现图表，如果数据超过90条，会隐藏x轴坐标 #}
            if (time.length > 6 ) {
                Highcharts.setOptions({
                    colors: ['#f47961', '#60be7b', '#4b5d69', '#9fdbea']
                });

                $('#areaChart1').highcharts({
                    chart: {
                        type: 'line',
                        zoomType: 'x'
                    },
                    title: {
                        text: '并发数据图表'
                    },

                    legend: {
                        enabled: true
                    },
                    xAxis: {
                        tickInterval: time.length/30,
                        labels: {rotation: -45},
                        type: 'datetime',
                        categories: time,
                    },

                    yAxis: {
                        title: {
                            text: null
                        },
                        min: 0,
                        labels: {
                            formatter: function () {
                                return this.value / 10000 + '万';
                            }
                        }
                    },

                    tooltip: {
                        shared: true
                    },

                    credits: {
                        enabled: false
                    },

                    series: [{
                        name: '流媒体并发',
                        data: hms
                    }, {
                        name: 'epg并发',
                        data: epg
                    }]
                });
                $('#areaChart2').highcharts({
                    chart: {
                        type: 'line',
                        zoomType: 'x'
                    },
                    title: {
                        text: '流量数据图表'
                    },

                    legend: {
                        enabled: true
                    },

                    xAxis: {
                        tickInterval: time.length/30,
                        labels: {rotation: -45},
                        type: 'datetime',
                        categories: time,
                    },

                    yAxis: {
                        title: {
                            text: null
                        },
                        min: 0,
                    },

                    tooltip: {
                        shared: true
                    },

                    credits: {
                        enabled: false
                    },

                    series: [{
                        name: '流量',
                        data: ll
                    }]
                });
            }
        }
    </script>
</head>


<body>
    <h2 style="margin-left: 20px">查询得到{{ info.wRptstartdate }}到{{ info.wRptenddate }}的数据</h2>
    <p class="form-actions" style="position:relative;left: 20px;top: 10px">
        <a href="JavaScript:history.back(-1)"><input type="button" value="返回" class="btn btn-danger"></a>
        <a href="../download?platformname={{ info.platformname }}&wRptstartdate={{ info.wRptstartdate }}&wRptenddate={{ info.wRptenddate }}&day={{ info.day }}"><input type="button" value="下载" class="btn btn-info"></a>
    </p>
	<div id="wrap" class="report">

        <div style="width: 450px">
            <table id="table" cellpadding="0" cellspacing="0" border="1">
                <thead>
                    <tr id="title">
                        <th>日期</th>
                        <th>流媒体并发(个)</th>
                        <th>epg并发(个)</th>
                        <th>流量数据(GBps)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in form.data %}
                        <tr id="body" style="position: static;top: 100px;">
                            {% for y in x %}
                                <td><div contenteditable="false">
                                    {{ y }}
                                </div></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
	</div>
    <div id="areaChart1" style="position: absolute;top: 100px;left: 500px;width:1000px;margin: 0 auto;"></div>
    <div id="areaChart2" style="position: absolute;top: 550px;left: 500px;width:1000px;margin: 0 auto;"></div>

</body>
</html>